<div class="header">
<md-card class="example-card "><h1>TODO LIST </h1>
<md-input-container>
  <input mdInput placeholder="Add Items" #newitem>
</md-input-container>
<button md-button class=button (click) = "addItem(newitem.value)">ADD</button>
  <ul>
    <md-list *ngFor="let item of items | async">
      {{ item.newitem  }}
      <md-input-container>
       <input mdInput #updatetext [value]="item.text">
      </md-input-container>    
<button md-button class="button" (click)="updateItem(item.$key, updatetext.value)">Update</button>
<button md-button class=button (click)="deleteItem(item.$key)">DELETE</button>
    </md-list>
  </ul></md-card>
</div>

